
.container {
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    }
    
    .box {
    z-index: -1;
    opacity: .01;
    text-align: center;
    }
    
    .box:hover{
    z-index: 2;
    opacity: 100;
    }
    
    .box:focus {
    z-index: 2;
    opacity: 100;
    }
    
    