



img {
    max-width: 3vh;
    max-height: 2vh;
}

.gender-img {
    max-width: 2vh;
    max-height: 1.5vh;
}

.circleBase {
    border-radius: 50%;
    
}

.circle1 {

    width: 2vh;
    height: 2vh;
    background: #ff0000;
    border: 1px solid #000;
}

.circle2 {
    width: 2vh;
    height: 2vh;
    background: #1500ff;
    border: 1px solid #000;
}

.topnav {
    position: relative;
    overflow: hidden;
    background-color: #8365bb;
    max-height: 10vh;
   /* display: inline-flexbox;
    flex-direction: row;
    align-items: left;
    justify-content: left; */
    font-size: calc(10px + 2vmin); 
    color: white; 
}

.topnav p {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 2vh;
}

.pokeball-img {
    float: left;
    max-width: 3vh;
    max-height: 3vh;
}

.topnav-left {
    float: left;
    position: absolute;
}

.topnav-center {
    float: none;
    position: absolute;
    top: 1.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
    flex-direction: row-reverse;
    position: relative;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {

    .topnav a,
    .topnav-right {
        float: none;
        display: block;
    }

    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}