



.topnav {
    position: relative;
    overflow: hidden;
    background-color: #8365bb;
    max-height: 5vh;
    font-size: 2vh;
   /* display: inline-flexbox;
    flex-direction: row;
    align-items: left;
    justify-content: left; 
    font-size: calc(10px + 2vmin); 
    color: white; */
}

.topnav p {
    float: left;
    color: #f2f2f2;
}

.topnav p:hover {
    background-color: #ddd;
    color: black;
}

.pokeball-img {
    float: left;
    max-width: 3vh;
    max-height: 3vh;
}

.topnav-center {
    float: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
    display: flex;
}

.topnav-right img {
    max-width: 2vh;
    max-height: 2vh;
}

.circleBase {
    border-radius: 50%;

}

 .circle1 {
    width: 2vh;
    height: 2vh;
    background: #ff0000;
    border: 1px solid #000;
}

.circle2 {
    width: 2vh;
    height: 2vh;
    background: #1500ff;
    border: 1px solid #000;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {

    .topnav p,
    .topnav-right {
        float: none;
        display: block;
    }

    .topnav-center p {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}